n8n-workflows/device-control/gpio-control-webhook.json
{
  "name": "Akıllı Deneyap - GPIO Kontrol (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deneyap/gpio",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "gpio-control"
    },
    {
      "parameters": {
        "functionCode": "// Validate incoming request\nconst body = $input.item.json.body;\n\nif (!body.pin || !body.action) {\n  throw new Error('Missing required fields: pin, action');\n}\n\n// Prepare MQTT message\nreturn {\n  json: {\n    pin: parseInt(body.pin),\n    action: body.action.toUpperCase(),\n    timestamp: Date.now()\n  }\n};"
      },
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "topic": "deneyap/control/gpio",
        "message": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "name": "MQTT Publish",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "mqtt": {
          "id": "1",
          "name": "MQTT Broker"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"message\": \"GPIO command sent\",\n  \"data\": $json\n}}}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "MQTT Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT Publish": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
